*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border: 5px solid rgb(223, 223, 223);
    max-width: 1200px;
    margin: 0 auto;
    color: red ;
    background-color: orange;
    
}

.container {
    display: flex;
    gap: 1rem;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

div:has(> img) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1px;
    max-width: 1200px;
    margin: 0 auto;
    border: 20px solid green;
    background-color: #010000;
}
img {
    display: flex;
    max-width: 50%;
    height: auto;
}
p {
    flex: 1;
    line-height: 1.6;
    color: #fff;
}



.container {
    display: flex;
    border: 2px solid red;
    max-width: 600px;
    margin: 20px auto;
}

.item-1, .item-2, .item-3, .item-4 {
    border: 1px solid blue;
    padding: 10px;
    flex-grow: 1;
    text-align: center;
}

.item-1 {
    background-color: lightyellow;
}
.item-2 {
    background-color: lightgreen;
}
.item-3 {
    background-color: lightblue;
}
.item-4 {
    background-color: lightgray;
}




.container:nth-of-type(2) {
    border: 2px solid purple;
}

.item {
    border: 1px solid orange;
    padding: 10px;
    flex-grow: 1;
    text-align: center;
}

.item-home {
    background-color: lightcoral;
}
.item-about {
    background-color: lightseagreen;
}   
.item-service {
    background-color: rgb(209, 182, 255);
}
.item-contact {
    background-color: rgb(255, 204, 182);
}

.navbar {
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    max-width: 1000px;
    margin: 20px auto;
    background-color: black;
}

.nav-links {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    width: 100%;
}

.nav-links li {
    flex-grow: 1;
}

.nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}

.nav-links a:hover {
    background-color: #b9f908;
}
.footer {
    margin: 40px;
    background-color: bisque;
    display: flex;
    justify-content: center;
}

.icons{
    border:10px solid black;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.icons i{
    cursor: pointer;
    transition: all 0.3s linear;
}
.icons i:hover{
    transform: scale(1.2);
}


.fa-facebook {
    margin: 10px;
    font-size: 24px;
    color: rgb(44, 44, 201);
}
.fa-twitter {
    margin: 10px;
    font-size: 24px;
    color: deepskyblue;
}
.fa-instagram {
    margin: 10px;
    font-size: 24px;
    color: rgb(255, 18, 113);
}
.fa-youtube {
    margin: 10px;
    font-size: 24px;
    color: rgb(239, 14, 14);
}
.feet{
    text-align: center;
    padding: 10px;
    font-size: 18px;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    align-items: center;
    display: flex;
    gap: 15px;
}
ul{
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 10px;
    list-style: none;
}
.fa-playstation{
    color: blue;
}
.fa-xbox{
    color: green;
}
.fa-apple{
    color: rgb(105, 103, 105);
}
.fa-xbox {
    cursor: pointer;
    transition: all 0.3s linear;
}
.fa-apple {
    cursor: pointer;
    transition: all 0.3s linear;
}
.fa-playstation {
    cursor: pointer;
    transition: all 0.3s linear;
}

.fa-playstation:hover {
    transform: scale(1.2);
}
.fa-xbox:hover {
    transform: scale(1.2);
}
.fa-apple:hover {
    transform: scale(1.2);
}
*.item{
    display: flex;
}

.img{
    width: 100%;
    height: auto;  
}
.img:hover {
    transform: scale(1.05) translateY(-5px) translateX(10px);
    transition: all 0.3s linear;
    
}
.price{ 
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: rgb(253, 253, 253);
    padding: 5px;
    border: 2px solid white;
    transition: all 0.3s linear;
    cursor: pointer;
    color: olivedrab;
}
.limited{
    border: 2px solid olivedrab;
    background-color: rgb(253, 253, 253);
    color: olivedrab;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s linear;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    color: olivedrab;  
}
.price:hover {
    transform: scale(1.1);
}
.limited:hover {
    transform: scale(1.1);
}
.stars{
    font-size: 15px;
    text-align: right;
    display: block;
    margin-top: 10px;
    color: gold;
    box-shadow: inset 0 0 5px rgba(255, 215, 0, 0.7);
   
}
.stars:hover {
    transform: scale(1.1);
}
.img{
    width: 100%;
    height: auto;  
}
.img:hover {
    transform: scale(1.05) translateY(-5px) translateX(10px);
    transition: all 0.3s linear;
    
}
.price{ 
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: rgb(253, 253, 253);
    padding: 5px;
    border: 2px solid white;
    transition: all 0.3s linear;
    cursor: pointer;
    color: olivedrab;
}
.limited{
    border: 2px solid olivedrab;
    background-color: rgb(253, 253, 253);
    color: olivedrab;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s linear;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    color: olivedrab;  
}
.price:hover {
    transform: scale(1.1);
}
.limited:hover {
    transform: scale(1.1);
}
.stars{
    font-size: 15px;
    text-align: right;
    display: block;
    margin-top: 10px;
    color: gold;
    box-shadow: inset 0 0 5px rgba(255, 215, 0, 0.7);
   
}
.stars:hover {
    transform: scale(1.1);
}
.name{
    text-align: left;
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

div:has(> img) img,
.item img {
    max-width: 50%;
    height: auto;
    display: block;
}

div:has(> img) > p,
.item > p:not(.limited) {
    text-align: left;
    color: #fff;
    margin-top: 8px;
    flex: initial;
}

.item .price {
    text-align: left;
    display: block;
    margin-left: 0;
}


body{
    font-family: arial, sans-serif;
    background-color: #121212;
    color: #fff;
}
.footer{
    padding: 10px 20px;
    background-color: #857878;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #333;
    padding: 20px;
}

.footer-section{
    flex: 1;
    margin: 1px;
}
.footer-section h3{
    margin-bottom: 15px;
    font-size: 15px;
    color: #ffffff;
}
.footer-section ul{
   margin-bottom: 10px;
   padding-bottom: 10px;
}
.footer-section ul li {
    margin-bottom: 10px;
}
.footer-section ul li a{
    color: #4d4538;
    transition: 0.3;
}
.footer-section ul li a:hover{
    color: #b9f908;
}
.footer-bottom{
   text-align: center;
   padding-top: 20px;
   
   
}
.footer-bottom p {
  font-size: 10px;
  color: #4d4538;
}






